body{
	background: #fff;
	font-size: 10px;
	font-family: "Helvetica", "Tahoma", "Verdana", "Arial", sans-serif;
}

#wrap{
	width: 940px;
	margin: 0 auto;
	position: relative;
}


a {
	color: #e32;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #ccc;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	color: #e32;
	margin-bottom:1em;
	margin-top: 1em;
	line-height: 1.3em;
	font-weight: bold;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.6em;
}
h4 {
	font-size: 1.4em;
}
ul, li {
	margin: 0 12px;
}

strong, b{
	font-weight: bold;
}

em, i{
	font-style: oblique;
}


/** Main Elements **/

#header{
	width: 100%;
	padding: 15px 0;
	margin: 0 0 25px 0;
	height: 30px;
	border-bottom: 1px solid silver;

}

#header h1{
	width: 280px;
	float: left;
	margin: 5px 0 0 0;
}

#header #nav{
	width: 640px;
	float: right;
	text-align: right;
	margin: 10px 0;
}

#header #nav li{
	display: inline;
}

div#menu{
	width: 160px;
	float: left;
}

div#menu ul{
	margin: 40px 0 0 0;
}

div#menu ul li{
	margin: 0 0 10px 0;
}

div#menu ul li a{
	font-size: 11px;
	padding: 0 0 0 5px;
	border-left: 5px solid #f1f1f1;
}

div#menu ul li a:hover{
	border-color: #e32;
}


div#content{
	width: 760px;
	float: right;
}

div#content.register{
	width: 940px;
}

div#content.register #authMessage,
div#content.register #flashMessage{
	width: 620px;
	padding: 10px;
}

div#content.login{
	width: 400px;
	margin: 0 270px;
}

div#content.login div.input{
	width: 400px;
}

div#content.login div.input input{
	width: 390px;
	font-size: 18px;
}

div#content.login #authMessage,
div#content.login #flashMessage{
	width: 380px;
	padding: 10px;
}

div#content.login div.recover{
	width: 280px;
	float: left;
	clear: none;
}

div#content.login div.submit{
	width: 100px;
	float: right;
	clear: none;
	margin: 0;
}

div#content.error{
	width: 940px;
}

div#content .userSection{
	float: left;
	margin-bottom: 1em;
	width: 100%;
}

div#content .userSection .userCurriculum{
	font-size: 12px;
	padding: 10px;
	margin: 0 0 15px 0;
	background: #F4F4F4;
}

div#welcome{
	width: 280px;
	float: left;
	font-size: 12px;
	line-height: 1.5em;
}

div#welcome p{
	margin-bottom: 1em;
}

div#welcome p.registerAction{
	text-align: center;
	font-size: 1.6em;
}

div.register{
	float: right;
	width: 640px;
}


div.register fieldset.personal{
	width: 280px;
	float: left;
}

div.register fieldset.access{
	width: 280px;
	float: right;
}

div.register fieldset.professional{
	width: 608px;
	float: left;
}

	
/** Forms **/
form {
	clear: both;
	margin-right: 0px;
	padding: 0;
	width: 100%;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 15px;
}
fieldset legend {
	background:#fff;
	font-size: 15px;
	font-weight: bold;
	padding: 0 10px;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: 0;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 11px;
	margin-bottom:2px;
}
input, textarea {
	clear: both;
	font-size: 14px;
	font-family: "Helvetica", "Tahoma", "Verdana", "Arial", sans-serif;
	padding: 3px;
	width: 270px;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 150%;
	width: auto;
	padding: 10px;
	float: right;
	margin: 0;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/

div.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	background: #c73e14;
	padding: 5px;
}

div#flashMessage,
div#authMessage{
	width: 740px;
	float: right;
	padding: 10px;
	border: 1px solid #C73E14;
	color: #C73E14;
	background: transparent;
	line-height: 1.5em;
}

div.error-message {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
	padding: 5px;
	width: 270px;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background: green;
	color: #fff;
}

/** Tables **/
table {
	background: #fff;
	border-right:0;
	clear: both;
	color: #333;
	margin-bottom: 10px;
	width: 100%;
}
th {
	border:0;
	border-bottom:2px solid #555;
	text-align: left;
	padding:4px;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a.asc:after {
	content: ' ⇣';
}
th a.desc:after {
	content: ' ⇡';
}
table tr td {
	background: #fff;
	padding: 6px;
	text-align: left;
	vertical-align: top;
	border-bottom:1px solid #ddd;
}
table tr:nth-child(2n) td {
	background: #f5f5f5;
}
table .altrow td {
	background: #f5f5f5;
}
td.actions {
	text-align: right;
	white-space: nowrap;
}
table td.actions a {
	margin: 0px 6px;
	padding:2px 5px;
}
.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
	font-family: Monaco, Consolas, "Courier New", monospaced;
}
.cake-sql-log caption {
	color:#fff;
}

/** Paging **/
div.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
div.paging span.disabled {
	color: #ddd;
	display: inline;
}
div.paging span.current {
	color: #c73e14;
}
div.paging span a {
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 1%;
	width: 48%;
	float: left;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 12em;
	margin-top: -2em;
	vertical-align: top;
}


	
/** Debugging **/
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #ff0;
	padding: 4px;
}
div.code-coverage-results div.code-line {
	padding-left:5px;
	display:block;
	margin-left:10px;
}
div.code-coverage-results div.uncovered span.content {
	background:#ecc;
}
div.code-coverage-results div.covered span.content {
	background:#cec;
}
div.code-coverage-results div.ignored span.content {
	color:#aaa;
}
div.code-coverage-results span.line-num {
	color:#666;
	display:block;
	float:left;
	width:20px;
	text-align:right;
	margin-right:5px;
}
div.code-coverage-results span.line-num strong {
	color:#666;
}
div.code-coverage-results div.start {
	border:1px solid #aaa;
	border-width:1px 1px 0px 1px;
	margin-top:30px;
	padding-top:5px;
}
div.code-coverage-results div.end {
	border:1px solid #aaa;
	border-width:0px 1px 1px 1px;
	margin-bottom:30px;
	padding-bottom:5px;
}
div.code-coverage-results div.realstart {
	margin-top:0px;
}
div.code-coverage-results p.note {
	color:#bbb;
	padding:5px;
	margin:5px 0 10px;
	font-size:10px;
}
div.code-coverage-results span.result-bad {
	color: #a00;
}
div.code-coverage-results span.result-ok {
	color: #fa0;
}
div.code-coverage-results span.result-good {
	color: #0a0;
}

/** Botones **/

ul.viewTools{
	margin: -1em 0 2em 0;
	padding: 0;
	position: relative;
}

ul.viewTools li{
	padding: 0;
	margin: 0;
	display: inline;
}

table td img{
	vertical-align: middle;
}

table td.actions a.button,
a.button{
	padding: 0 5px 0 16px;
	height: 16px;
	font-size: 9px;
	display: inline-block;
	vertical-align: middle;
	line-height: 16px;
	background-position: left;
	background-repeat: no-repeat;
	background-image: url(../img/icons/default.png);
}

table td.actions a.button.right,
a.button.right{
	padding: 0 18px 0 5px;
	background-position: right;
}

table td.actions a.add,
a.button.add{
	background-image: url(../img/icons/maximize.png);
}

table td.actions a.open,
a.button.open{
	background-image: url(../img/icons/minimize.png);
}

table td.actions a.delete,
a.button.delete{
	background-image: url(../img/icons/delete.png);
}

table td.actions a.edit,
a.button.edit{
	background-image: url(../img/icons/edit.png);
}

table td.actions a.download,
a.button.download{
	background-image: url(../img/icons/download.png);
}

table td.actions a.index,
a.button.index{
	background-image: url(../img/icons/index.png);
}

table td.actions a.profile,
a.button.profile{
	background-image: url(../img/icons/user_profile.png);
}

table td.actions a.userlock,
a.button.userlock{
	background-image: url(../img/icons/user_status_locked.png);
}

table td.actions a.userunlock,
a.button.userunlock{
	background-image: url(../img/icons/user_status_active.png);
}

table td.actions a.userpassword,
a.button.userpassword{
	background-image: url(../img/icons/user_password.png);
}

table td.actions a.userknowledgevalid,
a.button.userknowledgevalid{
	background-image: url(../img/icons/knowledge_area_status_1.png);
}

/** Elementos Varios **/

table tr th.actions{
	white-space: nowrap;
}

#knowledgeAreasNew,
#userCurriculumAdd{
	position: absolute;
	z-index: 300;
    display: none;
	width: 310px;
	top: 20px;
}

#knowledgeAreasNew fieldset,
#userCurriculumAdd fieldset{
	background: white;
	width: 278px;
	float: left;
}

/** Admin - Users **/

div.users.form fieldset.personal{
	width: 340px;
	float: left;
}

div.users.form fieldset.configuration{
	width: 340px;
	float: right;
	clear: left;
	border: #F4431E 1px solid;
}

div.users.form fieldset.access{
	width: 340px;
	float: right;
}

div.users.form fieldset.personal div.input.text input,
div.users.form fieldset.contact div.input.text input,
div.users.form fieldset.access div.input.text input,
div.users.form fieldset.access div.input.password input{
	width: 330px;
}

div.users.form fieldset.contact{
	float: left;
	width: 340px;
	clear: left;
}

div.users.form fieldset.professional{
	width: 728px;
	float: left;
}

/** Alertas y Mensajes **/

.important{
	font-size: 12px;
	line-height: 1.5em;
	margin: 20px 0;
	padding: 10px;
	text-align: center;
	background: #F5F5F5;
}


/** Objetos Modales **/

#modal {display:none;}

.modalContent{display: none;}

/* Overlay */
#simplemodal-overlay {background-color:#000; cursor:wait;}

/* Container */
#simplemodal-container {
	height:260px;
	width:400px;
	color:#000000;
	background-color:#FFF;
	border:4px solid silver;
	padding:12px;
	font-size: 12px;
	line-height: 140%;
	position: relative;
}

#simplemodal-container a.modalClose{
	float: right;
	color: white;
	font-weight: bold;
	background: #E32;
	padding: 4px 6px;
	position: absolute;
	bottom: 10px; right: 10px;
}
